* {
  font-family: 'Montserrat', sans-serif;
  margin:0px;
  padding:0px;
}

html{
    min-height: 100% !important;
    height: 100% !important;
}
.nogutters {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.nopadding{
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.monitor
{
  height: 100vh !important;
  position: relative;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

.gradient
{
  height: 100vh !important;
  position: relative;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

.magentaline
{
  border-width: 20px;

}

